@model YYQERP.PickOutModel
@{
    ViewBag.Title = "发料管理界面";
}
<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;" data-checkper="query">
    <div id="north_panel" data-options="region:'north',border:false">
        <div id="km_toolbar" class="km_toolbar">
        </div>
    </div>
    <div id="main-panel" data-options="region: 'center',title:'申请领料列表',border:true" style="border-bottom: none; border-left: none;">
        <table id="maingrid"></table>
    </div>
    <div id="east_panel" data-options="region: 'east',title:'领料明细',border:true,split:true" style="width: 50%; border-bottom: none; ">
        <div id="north_panel" data-options="region:'north',border:false" data-checkper="setpickout">
            <div id="km_toolbar_detail" class="km_toolbar">
                <button id="saveDetail" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="km.detailgrid.do_save();">发料</button>

                @*<div class="km_toolbar" data-checkper="export">*@
                <button href="javascript:;" data-checkper="export" class="easyui-linkbutton" onclick="km.detailgrid.do_export();" data-options="iconCls:'icon-standard-page-white-excel'">导出发料清单</button>
              
            </div>
        </div>
        <table id="DetailGrid"></table>
    </div>
</div>
<div id="toolbar1" data-checkper="query">
    <input id="UserName" name="UserName" class="easyui-combobox"
           data-options="prompt:'选择用户',editable:true,hasDownArrow:true,panelHeight:200,valueField:'UserName',textField:'TrueName'"
           style="width:250px;">
    <a id="btn_search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-standard-zoom',plain:true" onclick="km.maingrid.search_data();">搜索</a>
</div>

@section Styles {
}

@section Scripts {
    <script src="~/js/Sys/PickOut_Index.js"></script>
    <script type="text/javascript">

        km.model = {
            urls:
            {
                pagelist:"/Pick/GetPickOutPageList",
                GetPickDetail:"/Pick/GetPickDetail_ForAdd",
                SavePickDetail:"/Pick/SavePickDetail"
            }
        }
        km.userList = @Html.Raw(Json.Encode(@Model.UserSelectList));
        km.pers = @Html.Raw(Json.Encode(@ViewBag.Pers));
    </script>
}






