@{
    ViewBag.Title = "型号管理界面";
}
<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;" data-checkper="query">
    <div id="north_panel" data-options="region:'north',border:false">
        <div id="km_toolbar" class="km_toolbar">
        </div>
    </div>
    <div id="main-panel" data-options="region: 'center',border:true" style="border-bottom: none; border-left: none;">
        <table id="maingrid"></table>
    </div>

</div>
<script id="tpl_add" type="text/html">
    <div id="ele_add" style="width: auto; height: auto;">
        <div style="padding: 10px 30px">
            <form id="formadd" method="post">
                <table cellpadding="3">
                    <tr>
                        <td>型号名称</td>
                        <td>
                            <input id="Name" name="Name" class="easyui-textbox required"  data-options="required:true,value:''" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>型号代码</td>
                        <td>
                            <input id="Code" name="Code" class="easyui-textbox required"  data-options="required:true" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td>
                            <input id="Remark" name="Remark" class="easyui-textbox"  style="width: 250px" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</script>
@section Styles {
}

@section Scripts {
    <script src="~/js/Sys/Models_Index.js"></script>
    <script type="text/javascript">
        var model_string = '{"urls":{"list":"/Sys/Base_Button/GetList",'
        + '"pagelist":"/Models/GetPageList",'
        + '"add":"/Models/Add",'
        + '"edit":"/Models/Edit",'
        + '"delete":"/Models/Delete"'
        + '},'
        + '"buttons":[{"ButtonCode":"add","ButtonName":"新增型号","Sort":120,"ButtonType":1,"IconClass":"icon-standard-add","JsEvent":"do_add()","data_checkper":"add"},'
        + '{"ButtonCode":"edit","ButtonName":"编辑型号","Sort":130,"ButtonType":1,"IconClass":"icon-standard-pencil","JsEvent":"do_edit()","data_checkper":"edit"},'
            + '{"ButtonCode":"delete","ButtonName":"删除型号","Sort":140,"ButtonType":1,"IconClass":"icon-standard-delete","JsEvent":"do_delete()","data_checkper":"delete"}]}';
        km.model = JSON.parse(model_string);
        km.pers = @Html.Raw(Json.Encode(@ViewBag.Pers));
    </script>
}






