@{
    ViewBag.Title = "库存管理界面";
}
<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;" data-checkper="query">
    @*<div id="north_panel" data-options="region:'north',border:false">
            <div id="km_toolbar" class="km_toolbar">
            </div>
        </div>*@
    <div id="main-panel" data-options="region: 'center',title:'库存信息',border:true" style="border-bottom: none; border-left: none;">
        <table id="maingrid"></table>
    </div>
    <div id="east_panel" data-options="region: 'east',title:'详细信息',border:true,split:true" style="width: 30%; border-bottom: none; ">
    </div>

</div>
<div id="toolbar1" data-checkper="query">
    <input id="s_element" class="easyui-textbox" data-options="prompt:'原材料名称或料号',value:''" style="border:1px solid #f2f2f2;width:200px; height:26px" />
    <input id="s_shelf" class="easyui-textbox" data-options="prompt:'库位',value:''" style="border:1px solid #f2f2f2;width:100px; height:26px" />
    <input id="s_product" class="easyui-textbox" data-options="prompt:'产品序列号',value:''" style="border:1px solid #f2f2f2;width:200px; height:26px" />
    <a id="btn_search" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-standard-zoom',plain:true" onclick="km.maingrid.search_data();">搜索</a>
    <a href="javascript:;" class="easyui-menubutton" data-options="menu:'#exp1',iconCls:'icon-standard-page-white-excel'" data-checkper="export">导出库存信息</a>
    <div id="exp1" style="width:100px;">
        <div><a href="javascript:;" onclick="km.maingrid.do_export(1);">导出当前页</a></div>
        <div><a href="javascript:;" onclick="km.maingrid.do_export();">导出全部</a></div>
    </div>
</div>
@section Styles {
}

@section Scripts {
    <script src="~/js/Sys/Stock_Index.js?v=@(DateTime.Now.Ticks)"></script>
    <script type="text/javascript">
        km.model = {
            "urls":{
            "list":"/Sys/Base_Button/GetList",
            "pagelist":"/Stock/GetPageList",
            "stockdetail":"/Stock/GetStockDetail",
            "delete":"/Stock/DeleteStock"
            },
            "buttons":[
                {"ButtonCode":"stockin","ButtonName":"来料入仓","Sort":120,"ButtonType":1,"IconClass":"icon-standard-add","JsEvent":"do_stockin()"},
                {"ButtonCode":"stockedit","ButtonName":"库存管理","Sort":130,"ButtonType":1,"IconClass":"icon-standard-pencil","JsEvent":"do_stockedit()"},
                {"ButtonCode":"stockout","ButtonName":"材料出仓","Sort":140,"ButtonType":1,"IconClass":"icon-standard-cross","JsEvent":"do_stockout()"}
            ]};

        km.pers = @Html.Raw(Json.Encode(@ViewBag.Pers));
    </script>
}






